*{
    margin: 0;
    padding: 0;
    
}
.container{
  width: 100%;
  height: 950px;
  background-color: rgb(252, 252, 252);
}
.container1{
    width: 100%;
    height: 100px;
    background-color: rgb(16, 15, 15);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 30px 80px 100px ;
    column-gap: 5px;
    row-gap: px;
}
#header1{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;

}
#header2{
    position: relative;
    width: 100%;
   height: 80px;
    grid-column-start:1 ;
    grid-column-end: 4;
    background-color: white;
   align-self: flex-start;
 color: rgb(10, 10, 10);
 font-size: 40px;
 line-height: 20px;
 font-family: "Proza Libre", sans-serif;
font-weight: 100;
font-style: normal;   
}
#header3{
    position: relative;
    width: 100%;
   height: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: 90px;
    border: 2px solid rgb(147, 147, 147);
    background-color: rgb(239, 233, 233)46, 244, 244;
    color: #1c1c1c  ;
font-family: Palatino,"Palatino Linotype", "Book Antiqua", serif;;
    font-weight: 400;
    font-style: normal; 
    font-size: 34px;
}
.menu{ 
    position: relative;
    top: 28px;
    left: 20px;
    width: 35px;
    height: 5px;
    margin: 4px 0;
   font-size: 33px;
line-height: 22px;
  
background-color: rgb(0, 0, 0);
   
 color: rgb(10, 10, 10);
}
#search{
    position: absolute;
    top: 30px;
    right: 60px;
  align-self: flex-start;
    width: 40px;
    height: 40px;
   font-size: 43px;
line-height: 22px;
  font-weight: 800;
 color: rgb(0, 0, 0);
 
}
#cart{
    position: absolute;
    top: 30px;
    right: 20px;
  align-self: flex-start;
    width: 40px;
    height: 40px;
   font-size: 43px;
line-height: 22px; 
 color: rgb(0, 0, 0);
}
#person{
    position: absolute;
    top: 23px;
    right: 100px;
  align-self: flex-start;
    width: 40px;
    height: 40px;
   font-size: 43px;
line-height: 22px; 
 color: rgb(0, 0, 0);
}
#dollor{
    position: absolute;
    top: 35px;
    right: 140px;
  align-self: flex-start;
    width: 30px;
    height: 30px;
   font-size: 40px;
line-height: 22px; 
 color: rgb(0, 0, 0);
}
.head1{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: white(255, 255, 255);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 90px 50px;
    column-gap: 5px;
    row-gap: 5px;

}
.boxe{
    background-color: white(255, 255, 255);
    border:px solid black;
}
#boxe1{
    grid-column-start: 1;
    grid-column-end: 4 ;

    
}

#boxe2{
    position: relative;
    text-align: center;
    line-height: 100px;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 40px;
  
}
#boxe3{
    position: relative;
    text-align: center;
    line-height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: underline;
}
#boxe4{
    position: relative;
    grid-column-start: 1;
    grid-column-end:  4;
    
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr ;
column-gap: 5px;
}
.head2{
    height:29px ;
    background-color: rgb(255, 255, 255);
text-align: center;
line-height: 30px;
color: grey;
font-weight: 400;}
.container2{
    position: relative;
    width: 100%;
    height: 200px;
    border: px solid black;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr ;
}
.pics{
   position: relative;
   width: 100%;
   height: 200px;
   border: px solid black;
}
#pic1{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container3{
    position: relative;
    width: 100%;
    height: 120px;
    border: px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
}
.checkout{
    background-color:
    height 120px ;
}
#checkout1{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
}
#checkout2{
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    line-height: 30px;
}
.footer{
    position: relative;
    top: 0px;
    left: px;
    width: 100%;
    height: 200px;
    border: px solid rgb(129, 128, 128);
    display: grid;
    background-color: rgb(158, 154, 154);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .foo{
    position: absolute;
    top: 20px;
    align-items:center ;
  
  }
  #foot1{
    position: absolute;
    top: 80px;
  }
  #foot2{ position: absolute;
    top: 100px;
  }
  #foot3{
    position: absolute;
    top: 130px;
    left: 530px;
  }
  #foot4{
    position: absolute;
    top: 130px;
    left: 610px;
  }
  #foot5{
    position: absolute;
    top: 130px;
    left: 690px;
  }
  .footer1{
    position: relative;
    top: 0px;
    left: px;
    width: 100%;
    height: 30px;
    border: px solid rgb(129, 128, 128);
    display: grid;
    background-color: rgb(2, 2, 2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
  }