*{
    margin: 0;
    padding: 0;
}
.announcement-fluid{
    background-color:black;
    w
}

.container-fluid{
    background-color: rgb(255, 255, 255);
    position: relative;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.navbar{
    background-color: rgb(255, 255, 255);
}

.button-overlay {
    position: relative;
    display: inline-block;
  }
  
  .button-overlay button {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 130px;
    height:50px;
   
    transform: translate(-50%, -50%);
    padding: 2px 10px;
    background-color: #000000f7;
    color: #fff;
    border-radius: px;
    border: 0px;
  }
  .button-overlay button:hover {
    background-color: transparent;
    border: 1px solid black;
  }
  .button1-overlay {
    position: relative;
    display: inline-block;
  }
  
  .button1-overlay button {
    position: absolute;
    top: 93%;
    left: 50%;
    width: 130px;
    height:50px;
   
    transform: translate(-50%, -50%);
    padding: 2px 10px;
    background-color: #000000f7;
    color: #fff;
    border-radius: px;
    border: 0px;
  }
  .button1-overlay button:hover {
    background-color: transparent;
    border: 1px solid black;
  }
  .centered {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-family: Palatino, "Palatino Linotype", "Book Antiqua", serif;
  }
  .button2-overlay {
    position: relative;
    display: inline-block;
  }
  
  .button2-overlay button {
    position: absolute;
    top: 93%;
    left: 50%;
    width: 150px;
    height:50px;
   font-family: Proza Libre, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
    transform: translate(-50%, -50%);
    padding: 2px 10px;
    background-color: #000000f7;
    color: #fff;
    border-radius: px;
    border: 0px;
  }
  .button2-overlay button:hover {
    background-color: transparent;
    border: 1px solid black;
  }
  .box4-fluid{
    background-color: black;
    color: white;
    border: 0;
    width: 300px;
    height: 40px;
  }
  .table{
    border: 0;
    text-decoration: none;
  }
  .container7-fluid{
    text-align: center;
    position: relative;
    right: 25px;
  }